* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.whole {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: static;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  flex-direction: column;
}

/*I used sticky to make the menu follow when you scroll.*/
.menu {
  border: rgb(0, 0, 0) solid 0.1rem;
  top: 0;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  background-color: #333;
  position: sticky;

}

.menu a {
  font-size: 1rem;
  color: white;
  padding: 0.8rem 1rem;
}

.button {
  font-size: 1rem;
  border: none;
  color: white;
  padding: 1rem 1rem;
  background-color: #333;
  margin: 0;
}

/*Make the links to other pages turn red when hovering over.*/
.button:hover {
  background-color: red;
}

.Titel {
  background-color: rgb(90, 156, 255);
  padding: 1.5rem;
  text-align: center;
  font-size: 3rem;

}

/*I used the different commands for background colors to support different webbrowsers. The first is for older browsers
and the second is for later versions.*/
.undertitel {
  background: -webkit-linear-gradient(to right, #155799, #159957);
  background: linear-gradient(to right, #155799, #159957);
  flex: 1 1 auto;
  flex-direction: column;
}

/*I used display none to make sure the dropdown menu wont be visible when you aren't hovering over the menu.*/
.links {
  display: none;
  left: 0;
  background-color: #333;
  height: 3rem;
}

.links a {
  float: left;
  color: white;
}

.links a:hover {
  background-color: rgb(255, 60, 60);
  color: black;
}

/*I used display block to make the dropdown menu appear when hovering over the menu. */
.submenu:hover .links {
  display: block;
}

.link {
  border-radius: 1rem;
}

.me {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2%;
}

.mepic {
  height: 15%;
  width: 15%;
  border-radius: 20%;
}

.projects {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2%;
}

.projecttext {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.text {
  font-size: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
}

.projectpicture {
  height: 30rem;
  width: 50rem;
  border-radius: 5rem;
  margin: 1rem;
}